.m-input {
  cursor: pointer;
  color: #495057;
  min-height: 40px;
  display: block;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  background: #fff;
  font-size: 14px;
  box-sizing: border-box;

  &.input--disabled {
    cursor: auto;
    border-color: #e1e5e8;
    color: #a7acb0;
  }
}